body {
    background-color: #f0f5fe; /* Fondo azul claro */
}

.container {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrado vertical */
    justify-content: center; /* Centrado horizontal */
    min-height: 100vh;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

h1 {
    color: #007bff; /* Azul claro */
}

p {
    color: #333; /* Texto oscuro */
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.btn-upload {
    border: 2px solid #007bff; /* Borde azul claro */
    color: #007bff; /* Texto azul claro */
    background-color: #fff;
    padding: 8px 20px;
    border-radius: 8px;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.dropzone {
    border: 2px dashed #007bff; /* Borde punteado azul claro */
    background-color: #f0f0f0; /* Fondo gris claro para la zona de arrastrar y soltar */
    padding: 20px;
    text-align: center;
}

.upload-icon {
    font-size: 30px;
    color: #007bff; /* Icono de flecha azul claro */
}
