body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #f0f5fe;
    overflow-x: hidden; /* Evita el desplazamiento horizontal cuando el menú está abierto */
}

.menu-toggle {
    background: #333;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 999;
    font-size: 24px;
    transition: 0.3s; /* Agregar una transición suave */
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    transition: 0.3s;
    z-index: 998;
    overflow: hidden;
}

.sidenav a {
    padding: 15px 8px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    display: block;
    transition: 0.2s;
}


.sidenav a i {
    margin-right: 10px;
}

.sidenav a:hover {
    color: #000000; /* Cambiar el color de las letras al hacer hover (puedes ajustar el color) */
}

.sidenav-header {
    text-align: right;
}

.close-menu {
    cursor: pointer;
    font-size: 30px;
}

.content {
    margin-left: 0;
    padding: 20px;
    transition: 0.3s;
}

/* Estilos para ocultar las opciones de fondo */
.sidenav.closed {
    width: 0;
}

.content.opened {
    margin-left: 250px;
}

/* Ajuste de posición del botón del menú cuando está abierto */
.menu-toggle.opened {
    left: 270px;
}

.hidden {
    display: none; /* Ocultar el contenido por defecto */
}